{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:import/typescript"
  ],
  "plugins": ["react", "react-hooks", "@typescript-eslint", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
    // "import/resolver": {
    //   "node": {
    //     "extensions": [".js", ".jsx", ".tsx"],
    //     "paths": ["./src"]
    //   },
    //   "alias": {
    //     "map": [
    //       ["@style", "./src/util/style"],
    //       ["@components", "./src/components"],
    //       ["@test", "./src/util/test"]
    //     ],
    //     "extensions": [".js", ".jsx", ".tsx"]
    //   }
    // }
  },
  "rules": {
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import/prefer-default-export": "off",
    "no-alert": "off",
    "no-use-before-define": "off",
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".tsx"] }],
    "react/jsx-props-no-spreading": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-wrap-multilines": ["error", { "declaration": false, "assignment": false }],
    "react/no-danger": "off",
    "react/require-default-props": "off",
    "react/prop-types": "off",
    "react-hooks/exhaustive-deps": "warn",
    "react-hooks/rules-of-hooks": "error"
  }
}
